 
 body{background-color: #f0f0f0;  /* Light background color */} 
 #card  { 
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px; /* space between children */
}
 #bill{ 
    width: 500px;
    height: 510px;
    background-color: #ffffff;
    border-radius: 30px;
    border: 1px solid #ccc;
    text-align: center;
    margin: 20px auto; /* Center horizontally */
}  
#bill p{ 
 margin-top: 20px;
 
}
h1{
    color:rgba(16, 55, 88, 1) ; 
    font-size: 45px;
} 
.heads{
    color:rgba(16, 55, 88, 1) ;
    font-size: 20px;
} 
#note{
    color: red;
} 
button{  
    border-radius: 50px;
    background-color: rgba(16, 55, 88, 1);
    color: white;
    font-size: 15px;
    text-transform: uppercase; 
    cursor: pointer; 
    width:100px ;
    height:50px ; 
    border: none;

} 
#buttons{ 
    display: flex; 
    gap: 100px;
}
