 body{ background-color: gainsboro;}
 #modal-content { 
    position: fixed;
    top: 40%;
    left: 30%;
    width: 500px;
    height: 160px;
    background: white;
    padding: 10px;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    text-align: center;
    padding-left: 30px; 
   
  } 
  #para{ 
    margin-bottom: 30px;
    font-family: "Jockey One", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 25px;
    color:rgba(16, 55, 88, 1) 
  } 
  .bb1{ 
    width: 100px;
    height: 40px;
    background-color:  rgba(16, 55, 88, 1);
    text-align: center; 
    border-radius: 30px;
    color: white; 
    font-size: medium;
    border: none; 
    margin-top: 20px; 
    text-transform: uppercase;
} 